.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  font-size: 2rem;
}

.title h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(58, 58, 58);
}

.title form {
  text-align: center;
}

.title input, .title button, .load-more {
  font-size: 1.5rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: 0.5px solid rgb(235, 36, 145);
}

.title ::placeholder {
  color: rgb(209, 201, 207);
  font-size: 1.2rem;
  align-content: center;
}

.title button, .load-more {
  border: none;
  color: rgb(245, 249, 250);
  background-color: rgb(235, 36, 145);
}

.search-results img {
  width: 30rem;
  display: block;
  margin: 1rem auto;
}

.load-more {
  display: none;
  justify-content: center;
  margin: 0.5rem auto;
}

.party-button {
  margin: 0 auto;
  font-size: 1.2rem;
  justify-content: center;
  display: block;
  border-radius: 5px;
}

.party {
	-webkit-animation: party 1s infinite linear both;
	        animation: party 1s infinite linear both;
}

@keyframes party {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  25% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  75% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

